* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: roboto;       
}

#Descuentos {
    height: 38px;
    font-family: roboto;
    font-size: 15px;
    background-color: #1CD1B0;
    padding: 10px;
    font-weight:bold;
    
}

#Título {
    height: 101px;
    background-attachment:fixed;
    font-family: roboto;
    font-size: 40px;
    font-weight: bold;
    background-color: #00669F;
    padding: 28px; 
}

.Personaje {
    position: relative;
    height: 530px;
    width: 300px;
    float:left;
    top: 150px;
    margin-left: 28px;
}

#Fondo {
    z-index: 1;
}

#Fondogris {
    width: 300px;
    height: 336px;
    background-color: #F3F3F3;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 140px; 
    text-align: justify;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#Cara {
    position: relative;
    background-position: center;
    top: -395px;
    left: 93px;
    z-index: 3;

}

#Cara img {
	border-radius: 60px;
}


h1 {
    position: absolute;
    width: 171px;
    height: 35px;
    left: 70px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

}

#Fondoazul {
    position: relative;
    background-color: #00669F;
    z-index: 2;
    width: 128px;
    height: 50px;
    left: 90px;
    top: -185px;
    color: white;
    padding: 15px;
    text-align: center;
}

footer {
    position: absolute;
    background-color: #00669F;
    top: 972px;
    padding: 16px;
    color: white;
    width: 100%;
}
